<div class="page-layout simple fullwidth" fxLayout="column" 
    style="background-color: #fff !important;">
    <div class="header primary p-4 h-24" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center"
                style="margin-top: 0px !important; padding-top: 0px !important;">
                <mat-icon class="s-18" style="color: #0eaf3b;">home</mat-icon>
                <mat-icon class="s-18" style="color: #0eaf3b;">chevron_right</mat-icon>
                <span style="color: #0eaf3b;">Accueil</span>
            </div>
        </div>
    </div>
    <div class="content" fxLayoutAlign="center start">
        <div fxLayout="column" fxLayoutAlign="center center" flex="100">
            <span class="w-100-p">
                <img class="m-12" fxLayoutAlign="center center" src="assets/images/backgrounds/acc.png">
            </span>
        </div>
    </div>
</div>