<div class="page-layout simple fullwidth" fxLayout="column">
    <div class="header primary h-24" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="s-18">home</mat-icon>
                <mat-icon class="s-18">chevron_right</mat-icon>
                <span>Accueil</span>
            </div>
        </div>
    </div>
    <div class="content" fxLayoutAlign="center start">
        <div fxLayout="column" fxLayoutAlign="center center" flex="100">
            <span class="w-100-p">
                <img class="m-12" fxLayoutAlign="center center" src="assets/images/backgrounds/acc.png" alt="Image d'accueil">
            </span>
        </div>
    </div>
</div>