@import "src/@fuse/scss/fuse";

/* ===== PAGE ===== */

#register {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
        rgba(46, 125, 50, 0.9),
        rgba(46, 125, 50, 0.9)
    ),
    url('/assets/images/backgrounds/dark-material-bg.jpg') center / cover;
}

#register-form-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 24px;
    overflow: hidden;
}

/* ===== CARD ===== */

#register-form {
    width: 100%;
    // height: 96%;
    max-width: 440px;
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    gap: 12px;

    animation: fadeUp 0.4s ease;
}

/* ===== LOGO ===== */

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;

    img {
        width: 80px;
    }
}

/* ===== TITLE ===== */

.title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

/* ===== PASSWORD HINT ===== */

.password-hint {
    font-size: 12px;
    background: rgba(46, 125, 50, 0.1);
    padding: 8px 12px;
    border-radius: 6px;
    text-align: center;
}

/* ===== FORM ===== */

form {
    display: flex;
    flex-direction: column;
}

/* ===== INPUT COMPACT ===== */

mat-form-field {
    width: 100%;
    margin-bottom: 10px;

    .mat-form-field-wrapper {
        padding-bottom: 0;
    }

    .mat-form-field-infix {
        padding: 0.55em 0;
    }
}

/* ===== BUTTON ===== */

.submit-button {

    width: 100%;
    margin-top: 24px;
    border-radius: 30px !important; // !important assure l'écrasement des arrondis par défaut
    background-color: #26692d !important;
    color: white !important;
    font-size: 1em;
    padding: 9px 1px;
    font-weight: 600;
    transition: all 0.3s ease;

    &:hover:not([disabled]) {
        background-color: #26692d !important;
        transform: translateY(-2px);
        box-shadow: 0 6px 20px rgba(14, 175, 59, 0.4);
    }

    &:disabled {
        opacity: 0.25 !important;
        background-color: #26692d !important; // Garde la couleur mais plus claire
        color: white !important;
        cursor: not-allowed;
    }
}

/* ===== FOOTER ===== */

.register-footer {
    margin-top: 8px;
    text-align: center;
    font-size: 13px;

    a {
        margin-left: 6px;
        color: #2E7D32;
        font-weight: 600;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

/* ===== ANIMATION ===== */

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
