<div class="page-layout simple fullwidth" fxLayout="column">
  <div class="header primary p-4 h-24" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div fxLayout="row" fxLayoutAlign="start center" style="margin-top: 0px !important; padding-top: 0px !important;">
        <mat-icon class="s-18" style="color: #0eaf3b">home</mat-icon>
        <mat-icon class="s-18" style="color: #0eaf3b">chevron_right</mat-icon>
        <span style="color: #0eaf3b">Suivi activité</span>
        <mat-icon class="s-18" style="color: #0eaf3b">chevron_right</mat-icon>
        <span style="color: #0eaf3b">ACTR</span>
        <mat-icon class="s-18" style="color: #0eaf3b">chevron_right</mat-icon>
        <span style="color: #0eaf3b">{{titre}}</span>
        <mat-icon class="s-18" style="color: #0eaf3b">chevron_right</mat-icon>
        <span style="color: #0eaf3b">Enregistrer etat de paiement</span>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="tab-content p-2">
      <mat-tab-group>
        <!-- debut import -->
        <mat-tab label="IMPORTATION ETAT DE PAIEMENT ACTR ({{titre | uppercase}})">
          <div class="column" style="margin-left: 5px">
            <form [formGroup]="form_export_etat_paiement">
              <div fxLayout="row" fxLayoutGap="5px">
                <mat-form-field fxFlex="calc(16% - 16px)" class="pr-4">
                  <mat-label>Ile</mat-label>
                  <mat-select formControlName="id_ile" [(ngModel)]="etat_paiement.id_ile"
                    (selectionChange)="filtre_region()">
                    <mat-option *ngFor="let ile of all_ile" [value]="ile.id">
                      {{ ile.Ile }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="calc(16% - 16px)" class="pr-4">
                  <mat-label>Préfecture</mat-label>
                  <mat-select formControlName="id_region" [(ngModel)]="etat_paiement.id_region"
                    [disabled]="!etat_paiement.id_ile" (selectionChange)="filtre_commune()">
                    <mat-option *ngFor="let region of all_region" [value]="region.id">
                      {{ region.Region }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="calc(16% - 16px)" class="pr-4">
                  <mat-label>Commune</mat-label>
                  <mat-select formControlName="id_commune" [(ngModel)]="etat_paiement.id_commune"
                    [disabled]="!etat_paiement.id_region" (selectionChange)="filtre_village()">
                    <mat-option *ngFor="let commune of all_commune" [value]="commune.id">
                      {{ commune.Commune }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="calc(16% - 16px)" class="pr-4">
                  <mat-label>Village</mat-label>
                  <mat-select formControlName="village_id" [(ngModel)]="etat_paiement.village_id"
                    [disabled]="!etat_paiement.id_commune" (selectionChange)="filtre_zip()">
                    <mat-option *ngFor="let village of all_village" [value]="village.id">
                      {{ village.Village }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="calc(16% - 16px)" class="pr-4">
                  <input type="text" matInput placeholder="ZIP" formControlName="zip" [(ngModel)]="etat_paiement.zip"
                    readonly />
                </mat-form-field>
                <button mat-raised-button class="button_vert" [disabled]="!etat_paiement.village_id"
                  style="margin-left: 5px;" (click)="getEtatPresenceByVillage()">
                  <mat-label> ACTUALISER </mat-label>
                </button>
              </div>
              <div>
                <mat-progress-bar mode="indeterminate" *ngIf="loading_presence"></mat-progress-bar>
              </div>
              <div fxLayout="row" fxLayoutGap="5px">
                <mat-form-field fxFlex="calc(65% - 16px)" class="pr-4">
                  <mat-label>Etat de présence</mat-label>
                  <mat-select formControlName="id_fichepresence" [(ngModel)]="etat_paiement.id_fichepresence"
                    [disabled]="!actualiser">
                    <mat-option [value]="">&nbsp;</mat-option>
                    <mat-option *ngFor="let pre of all_etat_presence" [value]="pre.id">
                      {{pre.village}} - {{pre.sous_projet}} - {{pre.agex}} - {{pre.zip}} - {{pre.annee}} - {{pre.etape}}
                      : du {{pre.datedu | date :'dd-MM-yyyy' }} au {{pre.datefin | date :'dd-MM-yyyy' }} {{pre.etat}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="calc(20% - 16px)" class="pr-4">
                  <mat-label>Agence de paiement</mat-label>
                  <mat-select formControlName="agep_id" [(ngModel)]="etat_paiement.agep_id"
                    [disabled]="!etat_paiement.id_fichepresence">
                    <mat-option *ngFor="let agep of all_agep" [value]="agep.id">
                      {{ agep.identifiant }} - {{ agep.raison_social }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="calc(15% - 16px)" class="pr-4">
                  <input type="number" matInput placeholder="Indemnité journalière" formControlName="indemnite"
                    [(ngModel)]="etat_paiement.indemnite" readonly />
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutGap="5px">
                <mat-form-field fxFlex="calc(60% - 16px)" class="pr-4">
                  <input type="text" matInput placeholder="Observation" formControlName="observation"
                    [(ngModel)]="etat_paiement.observation" [disabled]="!etat_paiement.village_id" />
                </mat-form-field>
                <input type="file" name="fichier" id="fichier" [disabled]="!etat_paiement.village_id">
                <button mat-raised-button class="button_vert" style="margin-left: 5px;"
                  (click)="get_detail_etat_presence()" [disabled]="!etat_paiement.id_fichepresence">
                  <mat-label> Importer </mat-label>
                </button>
              </div>
            </form>
          </div>
          <div class="mat-card mat-elevation-z4 m-4">
            <div class="package-type h-44 primary-50 header primary" fxLayout="row"
              fxLayoutAlign="space-between center">
              <div class="p-12">
                <!-- <span class="border-right mr-2" style="color: #0eaf3b;">Actions</span> -->
              </div>
              <div class="p-12">
                <!-- <span class="border-right mr-2" style="color: #0eaf3b;">CONSULTANT</span> -->
              </div>
              <div class="p-12">
                <input type="text" style="
                          padding: 8px;
                          margin: 15px auto;
                          width: 100%;
                          color: #353a48;
                          border: 1px solid #babdc5;
                      " placeholder="Rechercher..." [(ngModel)]="search_etat_paiement" />
              </div>
            </div>
            <div>
              <mat-progress-bar mode="indeterminate" *ngIf="loading_export_etat_paiement"></mat-progress-bar>
            </div>
            <div>
              <ngx-datatable class="material" [rows]="all_etat_paiement | filter: search_etat_paiement"
                [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true"
                [reorderable]="" [selectionType]="'checkbox'" [limit]="10" [selected]="" [selectionType]="'single'"
                (select)="onSelectListePaiement($event)" *ngIf="!loading_export_etat_paiement">
                <ngx-datatable-column name="N° récépissé" prop="numero_recepisse">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.numero_recepisse }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Chef ménage" prop="nomchefmenage">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.nomchefmenage }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Travailleur principal" prop="NomTravailleur">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.NomTravailleur }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Montant reçu" prop="montantpayetravailleur * 1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.montantpayetravailleur * 1 }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Travailleur remplacant" prop="NomTravailleurSuppliant">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.NomTravailleurSuppliant }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Montant reçu" prop="montantpayesuppliant">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.montantpayesuppliant * 1 }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Total" prop="suppliantpresent">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                     {{ (row.montantpayetravailleur * 1) + (row.montantpayesuppliant * 1) }}
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </mat-tab>
        <!-- fin import -->

        <!-- debut liste -->
        <mat-tab label="LISTE ETAT DE PAIEMENTE ACTR DEJA ENREGISTRE">
          <div class="column" style="margin-left: 5px">
            <form [formGroup]="form_liste_presence">
              <div fxLayout="row" fxLayoutGap="5px">
                <mat-form-field fxFlex="calc(25% - 16px)" class="pr-4">
                  <mat-label>Ile</mat-label>
                  <mat-select formControlName="id_ile" [(ngModel)]="liste_presence.id_ile"
                    (selectionChange)="filtre_region_liste()">
                    <mat-option *ngFor="let ile of all_ile" [value]="ile.id">
                      {{ ile.Ile }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="calc(25% - 16px)" class="pr-4">
                  <mat-label>Préfecture</mat-label>
                  <mat-select formControlName="id_region" [(ngModel)]="liste_presence.id_region"
                    [disabled]="!liste_presence.id_ile" (selectionChange)="filtre_commune_liste()">
                    <mat-option *ngFor="let region of all_region" [value]="region.id">
                      {{ region.Region }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="calc(25% - 16px)" class="pr-4">
                  <mat-label>Commune</mat-label>
                  <mat-select formControlName="id_commune" [(ngModel)]="liste_presence.id_commune"
                    [disabled]="!liste_presence.id_region" (selectionChange)="filtre_village_liste()">
                    <mat-option *ngFor="let commune of all_commune" [value]="commune.id">
                      {{ commune.Commune }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="calc(25% - 16px)" class="pr-4">
                  <mat-label>Village</mat-label>
                  <mat-select formControlName="village_id" [(ngModel)]="liste_presence.village_id"
                    [disabled]="!liste_presence.id_commune" (selectionChange)="filtre_zip_liste()">
                    <mat-option *ngFor="let village of all_village" [value]="village.id">
                      {{ village.Village }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutGap="5px">
                <mat-form-field fxFlex="calc(25% - 16px)" class="pr-4">
                  <mat-label>Agence de paiement</mat-label>
                  <mat-select formControlName="agep_id" [(ngModel)]="liste_presence.agep_id">
                    <mat-option *ngFor="let agep of all_agep" [value]="agep.id">
                      {{ agep.identifiant }} - {{ agep.raison_social }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="calc(25% - 16px)" class="pr-4">
                  <mat-label>Année</mat-label>
                  <mat-select formControlName="id_annee" [(ngModel)]="liste_presence.id_annee">
                    <mat-option *ngFor="let annee of all_annee" [value]="annee.id">
                      {{ annee.annee }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="calc(25% - 16px)" class="pr-4">
                  <mat-label>Etape</mat-label>
                  <mat-select formControlName="etape_id" [(ngModel)]="liste_presence.etape_id">
                    <mat-option *ngFor="let etape of all_etape" [value]="etape.id">
                      {{ etape.Phase }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutGap="5px">
                <button mat-raised-button class="button_vert" style="margin-left: 5px;" (click)="filtrer_presence()">
                  <mat-label> ACTUALISER </mat-label>
                </button>
                <button mat-raised-button class="button_vert" style="margin-left: 5px;">
                  <mat-label> EXPORTER EN EXCEL </mat-label>
                </button>
                <button mat-raised-button color="warn" style="margin-left: 5px;"*ngIf="show_btn_delete_liste_presence" (click)="supprimerListePresence()" >
                  <mat-label> SUPPRIMER </mat-label>
                </button>
              </div>
            </form>
          </div>
          <div class="mat-card mat-elevation-z4 m-4">
            <div class="package-type h-44 primary-50 header primary" fxLayout="row"
              fxLayoutAlign="space-between center">
              <div class="p-12">
                <!-- <span class="border-right mr-2" style="color: #0eaf3b;">Actions</span> -->
              </div>
              <div class="p-12">
                <!-- <span class="border-right mr-2" style="color: #0eaf3b;">CONSULTANT</span> -->
              </div>
              <div class="p-12">
                <input type="text" style="
                          padding: 8px;
                          margin: 15px auto;
                          width: 100%;
                          color: #353a48;
                          border: 1px solid #babdc5;
                      " placeholder="Rechercher..." [(ngModel)]="search_liste_presence" />
              </div>
            </div>
            <div>
              <mat-progress-bar mode="indeterminate" *ngIf="loading_liste_presence"></mat-progress-bar>
            </div>
            <div>
              <ngx-datatable class="material" [rows]="all_liste_presence | filter: search_liste_presence"
                [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true"
                [reorderable]="" [selectionType]="'checkbox'" [limit]="10" [selected]="" [selectionType]="'single'"
                *ngIf="!loading_liste_presence" (select)="onSelectListePaiement($event)">
                <ngx-datatable-column name="Découpage Adm" prop="ile">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.ile }} / {{ row.region }} / {{ row.commune }} / {{ row.village }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="ZIP" prop="zip">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.zip }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Présence" prop="datedu">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                     du : {{ row.datedu | date:'dd/MM/yyyy'}} au {{ row.datefin | date:'dd/MM/yyyy'}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Nb jour" prop="nombrejourdetravail">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.nombrejourdetravail }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Total payé" prop="montanttotalpaye * 1">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.montanttotalpaye * 1 }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Payé Trvailleur" prop="montantpayetravailleur">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.montantpayetravailleur * 1 }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Payé Remplacant" prop="montantpayesuppliant">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.montantpayesuppliant  * 1}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Payé le" prop="datepaiement">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.datepaiement | date:'dd/MM/yyyy' }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Agep" prop="code_agep">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.code_agep }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Ménage" prop="etat_apte">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.etat_apte }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Etape" prop="phase">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.phase }}
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </mat-tab>
        <!-- fin liste -->
      </mat-tab-group>
    </div>
  </div>
</div>

<ng-template #aucun_etat_presence>
  <mat-dialog-content>
    <div matDialogTitle>Aucune liste d'état de présence pour le filtre choisi !.</div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose color="primary" (click)="closeDialog()">
      Fermer
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #aucun_detail_etat_presence>
  <mat-dialog-content>
    <div matDialogTitle>Aucun détail pour le filtre choisi !.</div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose color="primary" (click)="closeDialog()">
      Fermer
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #aucun_liste_etat_presence>
  <mat-dialog-content>
    <div matDialogTitle>Aucune liste d'état de présence pour le filtre choisi !.</div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose color="primary" (click)="closeDialog()">
      Fermer
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #supprimer_presence>
  <mat-dialog-content>
    <div matDialogTitle>Etes-vous sûr de supprimer cet enregistrement ?</div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose color="primary" (click)="closeDialog()">
      Fermer
    </button>
    <button mat-button matDialogClose color="primary" (click)="suppressionListePresence()">
      OK
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #erreur_suppression>
  <mat-dialog-content>
    <div matDialogTitle>Erreur lors de l'enregistrement!</div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose color="primary" (click)="closeDialog()">
      Fermer
    </button>
  </mat-dialog-actions>
</ng-template>