.app-btn-primary {
    cursor: pointer;
    background-color: var(--primary);
    color: #fff;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.3s;

    &:hover {
        background-color: var(--primary-dark);
        transform: translateY(-2px);
    }
}
