:root {
    --primary: #0eaf3b;
    --primary-dark: #2E7D32;

    --text-main: #2e2e2e;
    --text-muted: #6b6b6b;

    --bg-light: #f6f8fa;
    --bg-card: #ffffff;

    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;

    --shadow-soft: 0 10px 30px rgba(0,0,0,0.12);
    --sidebar-bg: #0f172a;          // bleu nuit
    --sidebar-bg-hover: #1e293b;
    --sidebar-active: #2e7d32;      // vert PFSS
    --sidebar-text: #e5e7eb;
    --sidebar-muted: #94a3b8;

    --toolbar-bg: #ffffff;
    --toolbar-border: #e5e7eb;
    --toolbar-text: #0f172a;
}