// -----------------------------------------------------------------------------------------------------
// @ Custom color maps for Fuse
// -----------------------------------------------------------------------------------------------------
$fuse-white: (
    500: white,
    contrast: (
        500: $dark-primary-text
    )
);

$fuse-black: (
    500: black,
    contrast: (
        500: $light-primary-text,
    )
);

$fuse-navy: (
    50: #ECECEE,
    100: #C5C6CB,
    200: #9EA1A9,
    300: #7D818C,
    400: #5C616F,
    500: #3C4252,
    600: #353A48,
    700: #2D323E,
    800: #262933,
    900: #1E2129,
    A100: #C5C6CB,
    A200: #9EA1A9,
    A400: #5C616F,
    A700: #2D323E,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $light-primary-text,
        400: $light-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    )
);
$fuse-cust: (
    500: rgb(11,60,97),
    contrast: (
        500: $light-primary-text,
    )
);

// Generate Fuse color classes for custom palettes
$custom_palettes: (
    fuse-white: $fuse-white,
    fuse-black: $fuse-black,
    fuse-navy: $fuse-navy
);

@include fuse-color-classes($custom_palettes);

// -----------------------------------------------------------------------------------------------------
// @ Typography
// -----------------------------------------------------------------------------------------------------

// Angular Material typography
$typography: mat-typography-config(
    $font-family: 'Muli, Helvetica Neue, Arial, sans-serif',
    $title: mat-typography-level(20px, 32px, 600),
    $body-2: mat-typography-level(14px, 24px, 600),
    $button: mat-typography-level(14px, 14px, 600),
    $input: mat-typography-level(16px, 1.125, 400) // line-height must be unitless !!!
);

// Setup the typography
@include angular-material-typography($typography);

// -----------------------------------------------------------------------------------------------------
// @ Component theming
// -----------------------------------------------------------------------------------------------------

// Import app and page component themes here to enable theming for them
@import "src/app/layout/components/chat-panel/chat-panel.theme";
@import "src/app/layout/components/toolbar/toolbar.theme";

// Define a mixin for easier access
@mixin components-theme($theme) {

    // Layout components
    @include chat-panel-theme($theme);
    @include toolbar-theme($theme);
}

// -----------------------------------------------------------------------------------------------------
// @ Define the default theme
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$default-primary-palette: mat-palette($fuse-navy);
//$default-accent-palette: mat-palette($mat-light-blue, 600, 400, 700);$default-accent-palette: mat-palette($fuse-cust, 500);
$default-accent-palette: mat-palette($mat-light-blue, 900);
$default-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$theme: mat-light-theme($default-primary-palette, $default-accent-palette, $default-warn-palette);

// Add ".theme-default" class to the body to activate this theme.
// Class name must start with "theme-" !!!
body.theme-default {

    // Create an Angular Material theme from the $theme map
    @include angular-material-theme($theme);

    // Apply the theme to the Fuse Core
    @include fuse-core-theme($theme);

    // Apply the theme to the user components
    @include components-theme($theme);

    // Generate Fuse color classes for primary, accent and warn colors
    $palettes: (
        primary: $default-primary-palette,
        accent: $default-accent-palette,
        warn: $default-warn-palette
    );

    @include fuse-color-classes($palettes);
}

// -----------------------------------------------------------------------------------------------------
// @ Define a yellow light theme
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$yellow-light-theme-primary-palette: mat-palette($fuse-navy, 600, 400, 700);
$yellow-light-theme-accent-palette: mat-palette($mat-yellow, 600, 400, 700);
$yellow-light-theme-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$yellow-light-theme: mat-light-theme($yellow-light-theme-primary-palette, $yellow-light-theme-accent-palette, $yellow-light-theme-warn-palette);

// Add ".theme-yellow-light" class to the body to activate this theme.
// Class name must start with "theme-" !!!
body.theme-yellow-light {

    // Generate the Angular Material theme
    @include angular-material-theme($yellow-light-theme);

    // Apply the theme to the Fuse Core
    @include fuse-core-theme($yellow-light-theme);

    // Apply the theme to the user components
    @include components-theme($yellow-light-theme);

    // Generate Fuse color classes for primary, accent and warn colors
    $palettes: (
        primary: $yellow-light-theme-primary-palette,
        accent: $yellow-light-theme-accent-palette,
        warn: $yellow-light-theme-warn-palette
    );

    @include fuse-color-classes($palettes);
}

// -----------------------------------------------------------------------------------------------------
// @ Define a blue-gray dark theme
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$blue-gray-dark-theme-primary-palette: mat-palette($mat-blue);
$blue-gray-dark-theme-accent-palette: mat-palette($mat-blue-gray);
$blue-gray-dark-theme-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$blue-gray-dark-theme: mat-dark-theme($blue-gray-dark-theme-primary-palette, $blue-gray-dark-theme-accent-palette, $blue-gray-dark-theme-warn-palette);

// Add ".theme-blue-gray-dark" class to the body to activate this theme.
// Class name must start with "theme-" !!!
body.theme-blue-gray-dark {

    // Generate the Angular Material theme
    @include angular-material-theme($blue-gray-dark-theme);

    // Apply the theme to the Fuse Core
    @include fuse-core-theme($blue-gray-dark-theme);

    // Apply the theme to the user components
    @include components-theme($blue-gray-dark-theme);

    // Generate Fuse color classes for primary, accent and warn colors
    $palettes: (
        primary: $blue-gray-dark-theme-primary-palette,
        accent: $blue-gray-dark-theme-accent-palette,
        warn: $blue-gray-dark-theme-warn-palette
    );

    @include fuse-color-classes($palettes);
}

// -----------------------------------------------------------------------------------------------------
// @ Define a pink dark theme
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$pink-dark-theme-primary-palette: mat-palette($mat-pink);
$pink-dark-theme-accent-palette: mat-palette($mat-pink);
$pink-dark-theme-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$pink-dark-theme: mat-dark-theme($pink-dark-theme-primary-palette, $pink-dark-theme-accent-palette, $pink-dark-theme-warn-palette);

// Add ".theme-pink-dark" class to the body to activate this theme.
// Class name must start with "theme-" !!!
body.theme-pink-dark {

    // Generate the Angular Material theme
    @include angular-material-theme($pink-dark-theme);

    // Apply the theme to the Fuse Core
    @include fuse-core-theme($pink-dark-theme);

    // Apply the theme to the user components
    @include components-theme($pink-dark-theme);

    // Generate Fuse color classes for primary, accent and warn colors
    $palettes: (
        primary: $pink-dark-theme-primary-palette,
        accent: $pink-dark-theme-accent-palette,
        warn: $pink-dark-theme-warn-palette
    );

    @include fuse-color-classes($palettes);
}
//this style is for search bar in every component
@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #fcfeff;
  border-bottom-color: #1b608b;
  border-radius: 50%;
  content: "";
  height: 40px;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate3d(-50%, -50%, 0);
  width: 40px;
  will-change: transform;
}
.overlay {
position: fixed;
width: 100%;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(30, 101, 148, 0.55);
z-index: 10000;
}
.popup {
width: 33.333333%;
padding: 20px;
left: 40%;
margin: 0px;
border: 0.2px solid #ccc;
border-radius: 20px;
background: white;
position: absolute;
top: 50%;
box-shadow: 5px 5px 5px rgb(14, 65, 99);
z-index: 10001;
}
.text-right{
margin-top: 30px;
}

// search code
@import url(https://fonts.googleapis.com/css?family=Montserrat);

$hint: #FAF8F8;
$turqoise: #17EAD9;
$cornflower-blue: #0d0f18;
$tundora: #4B4848;
$electric-violet: #7C26F8;
$snappy:  cubic-bezier(0.694,  0.048, 0.335, 1.000);

@keyframes spin {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}

@keyframes color-1 {
0% {
  background-color: #EB73B9;
}
100% {
  background-color: #17EAD9;
}
}

::selection {
background: $cornflower-blue;
color: white;
text-shadow: none;
}

::-webkit-selection{
background: $cornflower-blue;
color: white;
text-shadow: none;
}
.field-container {
position: relative;
padding: 0;
margin: 0;
border: 0;
width: 330px;
height: 40px;
}

.icons-container {
position: absolute;
top: 0px;
right: 10px;
width: 35px;
height: 35px;
overflow: hidden;
}

.icon-close {
position: absolute;
top: 5px;
left: 2px;
width: 75%;
height: 75%;
opacity: 0;
cursor: pointer;
transform: translateX(-200%);
border-radius: 50%;
transition: opacity 0.25s ease, transform 0.43s $snappy;
&:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: 2px solid transparent;
  border-top-color: $cornflower-blue;
  border-left-color: $cornflower-blue;
  border-bottom-color: $cornflower-blue;
  transition: opacity 0.2s ease;
}
.x-up {
  position: relative;
  width: 100%;
  height: 50%;
  &:before {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 3px;
    width: 50%;
    height: 2px;
    background-color: $hint;
    transform: rotate(45deg);
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 2px;
    right: 0px;
    width: 50%;
    height: 2px;
    background-color: $hint;
    transform: rotate(-45deg);
  }
}
.x-down {
  position: relative;
  width: 100%;
  height: 50%;
  &:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 4px;
    width: 50%;
    height: 2px;
    background-color: $hint;
    transform: rotate(-45deg);
  }
  &:after {
    content: "";
    position: absolute;
    top: 5px;
    right: 0px;
    width: 50%;
    height: 2px;
    background-color: $hint;
    transform: rotate(45deg);
  }
}
.is-type & {
  &:before {
    opacity: 1;
    animation: spin 0.85s infinite;
  }
  .x-up {
    &:before, &:after {
      animation: color-1 0.85s infinite;
    }
    &:after {
      animation-delay: 0.3s;
    }
  }
  .x-down {
    &:before, &:after {
      animation: color-1 0.85s infinite;
    }
    &:before {
      animation-delay: 0.2s;
    }
    &:after {
      animation-delay: 0.1s;
    }
  }
}
}

.icon-search {
position: relative;
top: 8px;
left: 8px;
width: 50%;
height: 50%;
opacity: 1;
border-radius: 50%;
// border: 3px solid mix($cornflower-blue, white, 35%);
transition: opacity 0.25s ease, transform 0.43s $snappy;
&:after {
  content: "";
  position: absolute;
  bottom: -9px;
  right: -2px;
  width: 4px;
  border-radius: 3px;
  transform: rotate(-45deg);
  height: 10px;
  // background-color: mix($cornflower-blue, white, 35%);
}
}

.field {
border: 0;
width: 100%;
height: 100%;
padding: 10px 20px;
background: rgb(22, 21, 21);
border-radius: 3px;
box-shadow: 0px 8px 15px rgba($tundora, 0.1);
transition: all 0.4s ease;
&:focus {
  outline: none;
  box-shadow: 0px 9px 20px rgba($tundora, 0.3);
  + .icons-container {
    .icon-close {
      opacity: 1;
      transform: translateX(0);
      color: #0c0d0d;
    }
    .icon-search {
      opacity: 1;
      transform: translateX(200%);
      color: #0c0d0d;
    }
  }
}
}
.button_vert {
	color: white !important;
	background-color: #5c935c !important;
}
.button_modifier {
	color: white !important;
	background-color: #8e00f4 !important;
}
.button_supprimer {
	color: white !important;
	background-color: #ff0000 !important;
}
.button_bleu {
	color: white !important;
	background-color: #33c7ff !important;
}
.button_vert_claire {
	color: white !important;
	background-color: #8FC13D !important;
}
