<div class="page-layout simple fullwidth" fxLayout="column">
    <div class="header primary p-4 h-24" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center"
                style="margin-top: 0px !important; padding-top: 0px !important;">
                <mat-icon class="s-18" style="color: #0eaf3b;">home</mat-icon>
                <mat-icon class="s-18" style="color: #0eaf3b;">chevron_right</mat-icon>
                <span style="color: #0eaf3b;">Données de base</span>
                <mat-icon class="s-18" style="color: #0eaf3b;">chevron_right</mat-icon>
                <span style="color: #0eaf3b;">Plan action reinstallation</span>
            </div>
        </div>
    </div>
    <mat-tab-group>
        <!-- debut PLAN ACTION RÉINSTALLATION -->
        <mat-tab label="PLAN ACTION RÉINSTALLATION">
            <div class="content p-2">
                <div class="mat-card mat-elevation-z4  m-4">
                    <div class="package-type primary h-44" fxLayout="row" fxLayoutAlign="space-between center">
                        <span class="p-12 coleur_vert">Actions
                            <!-- <button mat-button (click)="modifier()">Basic</button> -->
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Ajouter"
                                (click)="ajoutPlan()">
                                <mat-icon matTooltip="Ajouter" class="coleur_vert">add_circle_outline</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Modifier"
                                (click)="modifierPlan()" *ngIf="afficher_btn_modifier_plan">
                                <mat-icon matTooltip="Modifier" class="coleur_vert">edit</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Supprimer"
                                (click)="supprimerPlan()" *ngIf="afficher_btn_supprimer_plan">
                                <mat-icon matTooltip="Supprimer" class="coleur_vert">delete</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Enregistrer">
                                <mat-icon matTooltip="Enregistrer" class="coleur_vert">save</mat-icon>
                            </button>

                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Annuler"
                                *ngIf="afficher_btn_annuler_plan" (click)="annulerPlan()">
                                <mat-icon matTooltip="Annuler" class="coleur_vert">cancel</mat-icon>
                            </button>
                        </span>
                        <span class="p-12 coleur_vert">PLAN ACTION RÉINSTALLATION</span>
                        <span class="p-12"><input type="text"
                                style="padding:8px;margin:15px auto;width:100%;color:#353A48;"
                                placeholder="Rechercher..." /></span>

                    </div>
                    <div>
                        <form [formGroup]="form_ajout_plan" fxlayout="row" *ngIf="afficher_form_ajout_plan">
                            <div fxLayout="row wrap" fxLayoutAlign="start start">
                                <mat-form-field fxFlex="calc(20% - 16px)" class="pr-4">
                                    <mat-label>Intitulé</mat-label>
                                    <input matInput formControlName="intitule" [(ngModel)]="plan.intitule">
                                    <mat-error>Activité ciblage obligatoire!</mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex="calc(20% - 16px)" class="pr-4">
                                    <mat-label>Service</mat-label>
                                    <input matInput formControlName="ser" [(ngModel)]="plan.ser">
                                    <mat-error>Type plainte obligatoire!</mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex="calc(20% - 16px)" class="pr-4">
                                    <mat-label>Date d'élaboration</mat-label>
                                    <input matInput formControlName="date_elaboration"
                                        [(ngModel)]="plan.date_elaboration" type="date">
                                    <mat-error>Type plainte obligatoire!</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayoutAlign="center">
                                <button mat-raised-button color="primary" style="margin-right: 10px"
                                    (click)="enregistrerPlan(plan)" [disabled]="form_ajout_plan.invalid">
                                    <mat-label> Enregistrer </mat-label>
                                </button>
                                <button mat-raised-button color="primary" (click)="fermerFormPlan()">
                                    <mat-label> Annuler </mat-label>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                    <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="48" [footerHeight]="50"
                        [rowHeight]="'auto'" limit="10" [selectionType]="'single'" [rows]="all_plan" [limit]="10"
                        (select)="onSelectPlan($event)">
                        <ngx-datatable-column name="Intitulé">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.intitule }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Service">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.ser }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Date de l'élaboration">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.date_elaboration }}
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </mat-tab>
        <!-- PLAN ACTION RÉINSTALLATION -->

        <!-- debut ACTIVITES PAR -->
        <mat-tab label="ACTIVITES PAR">
            <div class="content p-2">
                <div class="mat-card mat-elevation-z4  m-4">
                    <div class="package-type primary h-44" fxLayout="row" fxLayoutAlign="space-between center">
                        <span class="p-12 coleur_vert">Actions
                            <!-- <button mat-button (click)="modifier()">Basic</button> -->
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Ajouter"
                                (click)="ajoutActivite()">
                                <mat-icon matTooltip="Ajouter" class="coleur_vert">add_circle_outline</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Modifier"
                                (click)="modifierActivite()" *ngIf="afficher_btn_modifier_activite">
                                <mat-icon matTooltip="Modifier" class="coleur_vert">edit</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Supprimer"
                                (click)="supprimerActivite()" *ngIf="afficher_btn_supprimer_activite">
                                <mat-icon matTooltip="Supprimer" class="coleur_vert">delete</mat-icon>
                            </button>


                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Enregistrer">
                                <mat-icon matTooltip="Enregistrer" class="coleur_vert">save</mat-icon>
                            </button>

                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Annuler"
                                (click)="annulerActivite()" *ngIf="afficher_btn_annuler_activite">
                                <mat-icon matTooltip="Annuler" class="coleur_vert">cancel</mat-icon>
                            </button>
                        </span>
                        <span class="p-12 coleur_vert">ACTIVITES PAR</span>
                        <span class="p-12"><input type="text"
                                style="padding:8px;margin:15px auto;width:100%;color:#353A48;"
                                placeholder="Rechercher..." /></span>
                    </div>
                    <div>
                        <form [formGroup]="form_ajout_activite" fxlayout="row" *ngIf="afficher_form_ajout_activite">
                            <div fxLayout="row wrap" fxLayoutAlign="start start">
                                <mat-form-field fxFlex="calc(20% - 16px)" class="pr-4">
                                    <mat-label>Activité</mat-label>
                                    <input matInput formControlName="activite" [(ngModel)]="activite.activite">
                                    <mat-error>Activité ciblage obligatoire!</mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex="calc(20% - 16px)" class="pr-4">
                                    <mat-label>Nombre de ménage</mat-label>
                                    <input matInput formControlName="nbr_menage" [(ngModel)]="activite.nbr_menage"
                                        type="number">
                                    <mat-error>Nombre de ménage obligatoire!</mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex="calc(20% - 16px)" class="pr-4">
                                    <mat-label>Bien ressource</mat-label>
                                    <input matInput formControlName="bien_ressource"
                                        [(ngModel)]="activite.bien_ressource">
                                    <mat-error>Bien ressource obligatoire!</mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex="calc(20% - 16px)" class="pr-4">
                                    <mat-label>Calendrier d'execution</mat-label>
                                    <input matInput formControlName="calendrier_execution"
                                        [(ngModel)]="activite.calendrier_execution" type="date">
                                    <mat-error>Calendrier d'execution obligatoire!</mat-error>
                                </mat-form-field><mat-form-field fxFlex="calc(20% - 16px)" class="pr-4">
                                    <mat-label>Coût estimatif</mat-label>
                                    <input matInput formControlName="cout_estimatif"
                                        [(ngModel)]="activite.cout_estimatif" type="number">
                                    <mat-error>Coût estimatif obligatoire!</mat-error>
                                </mat-form-field><mat-form-field fxFlex="calc(20% - 16px)" class="pr-4">
                                    <mat-label>Mesure compensatoire</mat-label>
                                    <input matInput formControlName="mesure_compensatoire"
                                        [(ngModel)]="activite.mesure_compensatoire">
                                    <mat-error>Mesure mesure_compensatoire obligatoire!</mat-error>
                                </mat-form-field><mat-form-field fxFlex="calc(20% - 16px)" class="pr-4">
                                    <mat-label>Responsable</mat-label>
                                    <input matInput formControlName="responsable" [(ngModel)]="activite.responsable">
                                    <mat-error>Responsable obligatoire!</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayoutAlign="center">
                                <button mat-raised-button color="primary" style="margin-right: 10px"
                                    (click)="enregistrerActivite(activite)" [disabled]="form_ajout_activite.invalid">
                                    <mat-label> Enregistrer </mat-label>
                                </button>
                                <button mat-raised-button color="primary" (click)="fermerFormActivite()">
                                    <mat-label> Annuler </mat-label>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div>
                        <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="48" [footerHeight]="50"
                            [rowHeight]="'auto'" limit="10" [selectionType]="'single'" [rows]="all_activite"
                            [limit]="10" (select)="onSelectActivite($event)">
                            <ngx-datatable-column name="Activité">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{ row.activite }}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Nombre de ménage">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{ row.nbr_menage }}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Ressource">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{ row.bien_ressource }}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Calendrier d'execution">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{ row.calendrier_execution }}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Coût estimatif">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{ row.cout_estimatif }}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Messure compensatoire">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{ row.mesure_compensatoire }}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="responsable">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{ row.responsable }}
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </mat-tab>
        <!-- fin ACTIVITES PAR -->

        <!-- debut SOUS-PROJET -->
        <mat-tab label="SOUS-PROJET">
            <div class="content p-2">
                <div class="mat-card mat-elevation-z4  m-4">
                    <div class="package-type primary h-44" fxLayout="row" fxLayoutAlign="space-between center">
                        <span class="p-12 coleur_vert">Actions
                            <!-- <button mat-button (click)="modifier()">Basic</button> -->
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Ajouter"
                                (click)="ajoutSousProjet()">
                                <mat-icon matTooltip="Ajouter" class="coleur_vert">add_circle_outline</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Modifier"
                                *ngIf="afficher_btn_modifier_sous_projet">
                                <mat-icon matTooltip="Modifier" class="coleur_vert">edit</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Supprimer"
                                (click)="supprimer_sous_project()" *ngIf="afficher_btn_supprimer_sous_projet">
                                <mat-icon matTooltip="Supprimer" class="coleur_vert">delete</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Enregistrer">
                                <mat-icon matTooltip="Enregistrer" class="coleur_vert">save</mat-icon>
                            </button>

                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Annuler"
                                (click)="annulerSousProject()" *ngIf="afficher_btn_annuler_sous_projet">
                                <mat-icon matTooltip="Annuler" class="coleur_vert">cancel</mat-icon>
                            </button>
                        </span>
                        <span class="p-12 coleur_vert">SOUS-PROJET</span>
                        <span class="p-12"><input type="text"
                                style="padding:8px;margin:15px auto;width:100%;color:#353A48;"
                                placeholder="Rechercher..." /></span>
                    </div>
                    <div>
                        <form [formGroup]="form_ajout_sous_projet" fxlayout="row"
                            *ngIf="afficher_form_ajout_sous_projet">
                            <div fxLayout="row wrap" fxLayoutAlign="start start">
                                <mat-form-field fxFlex="15" class="pr-4">
                                    <mat-label>Code</mat-label>
                                    <mat-select formControlName="code" [(ngModel)]="sous_projet.code">
                                        <mat-option *ngFor="let sous_projet of all_sous_projet "
                                            [value]="sous_projet.id">
                                            {{ sous_projet.type }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field fxFlex="calc(20% - 16px)" class="pr-4">
                                    <mat-label>Description</mat-label>
                                    <input matInput formControlName="description" [(ngModel)]="sous_projet.description">
                                    <mat-error>Description obligatoire!</mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex="calc(20% - 16px)" class="pr-4">
                                    <mat-label>Plan d'action réinstallation</mat-label>
                                    <input matInput formControlName="plan_action_reinstallation"
                                        [(ngModel)]="sous_projet.plan_action_reinstallation">
                                    <mat-error>Plan d'ation réinstallation obligatoire!</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayoutAlign="center">
                                <button mat-raised-button color="primary" style="margin-right: 10px"
                                    (click)="enregistrerSousProjet(sousProject)"
                                    [disabled]="form_ajout_sous_projet.invalid">
                                    <mat-label> Enregistrer </mat-label>
                                </button>
                                <button mat-raised-button color="primary" (click)="fermerFormActivite()">
                                    <mat-label> Annuler </mat-label>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div>
                        <div>
                            <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="48"
                                [footerHeight]="50" [rowHeight]="'auto'" limit="10" [selectionType]="'single'"
                                [rows]="all_sous_projet" [limit]="10" (select)="onSelectSousProject($event)">
                                <ngx-datatable-column name="Code">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{ row.code }}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Type">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{ row.type }}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Déscription">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{ row.description }}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Plan d'action réinstallation">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{ row.plan_action_reinstallation }}
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <!-- fin SOUS-PROJET -->

        <!-- debut sous-projet localisation -->
        <mat-tab label="SOUS-PROJET LOCALISATION">
            <div class="content p-2">
                <div class="mat-card mat-elevation-z4  m-4">
                    <div class="package-type primary h-44" fxLayout="row" fxLayoutAlign="space-between center">
                        <span class="p-12 coleur_vert">Actions
                            <!-- <button mat-button (click)="modifier()">Basic</button> -->
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Ajouter">
                                <mat-icon matTooltip="Ajouter" class="coleur_vert">add_circle_outline</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Modifier">
                                <mat-icon matTooltip="Modifier" class="coleur_vert">edit</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Supprimer">
                                <mat-icon matTooltip="Supprimer" class="coleur_vert">delete</mat-icon>
                            </button>


                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Enregistrer">
                                <mat-icon matTooltip="Enregistrer" class="coleur_vert">save</mat-icon>
                            </button>

                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Annuler">
                                <mat-icon matTooltip="Annuler" class="coleur_vert">cancel</mat-icon>
                            </button>
                        </span>
                        <span class="p-12 coleur_vert">SOUS-PROJET LOCALISATION</span>
                        <span class="p-12"><input type="text"
                                style="padding:8px;margin:15px auto;width:100%;color:#353A48;"
                                placeholder="Rechercher..." /></span>

                    </div>
                    <div>
                        <p>Hello world</p>
                    </div>
                </div>
            </div>
        </mat-tab>
        <!-- fin sous-projet localisation -->

        <!-- debut detail sous-projet -->
        <mat-tab label="DETAIL SOUS-PROJET">
            <div class="content p-2">
                <div class="mat-card mat-elevation-z4  m-4">
                    <div class="package-type primary h-44" fxLayout="row" fxLayoutAlign="space-between center">
                        <span class="p-12 coleur_vert">Actions
                            <!-- <button mat-button (click)="modifier()">Basic</button> -->
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Ajouter">
                                <mat-icon matTooltip="Ajouter" class="coleur_vert">add_circle_outline</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Modifier">
                                <mat-icon matTooltip="Modifier" class="coleur_vert">edit</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Supprimer">
                                <mat-icon matTooltip="Supprimer" class="coleur_vert">delete</mat-icon>
                            </button>


                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Enregistrer">
                                <mat-icon matTooltip="Enregistrer" class="coleur_vert">save</mat-icon>
                            </button>

                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Annuler">
                                <mat-icon matTooltip="Annuler" class="coleur_vert">cancel</mat-icon>
                            </button>
                        </span>
                        <span class="p-12 coleur_vert">DETAIL SOUS-PROJET</span>
                        <span class="p-12"><input type="text"
                                style="padding:8px;margin:15px auto;width:100%;color:#353A48;"
                                placeholder="Rechercher..." /></span>

                    </div>
                    <div>
                        <p>Hello world</p>
                    </div>
                </div>
            </div>
        </mat-tab>
        <!-- fin sous-projet localisation -->

        <!-- debut sauvegarde environnementale -->
        <mat-tab label="SAUVEGARDE ENVIRONNEMENTALE">
            <div class="content p-2">
                <div class="mat-card mat-elevation-z4  m-4">
                    <div class="package-type primary h-44" fxLayout="row" fxLayoutAlign="space-between center">
                        <span class="p-12 coleur_vert">Actions
                            <!-- <button mat-button (click)="modifier()">Basic</button> -->
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Ajouter">
                                <mat-icon matTooltip="Ajouter" class="coleur_vert">add_circle_outline</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Modifier">
                                <mat-icon matTooltip="Modifier" class="coleur_vert">edit</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Supprimer">
                                <mat-icon matTooltip="Supprimer" class="coleur_vert">delete</mat-icon>
                            </button>


                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Enregistrer">
                                <mat-icon matTooltip="Enregistrer" class="coleur_vert">save</mat-icon>
                            </button>

                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Annuler">
                                <mat-icon matTooltip="Annuler" class="coleur_vert">cancel</mat-icon>
                            </button>
                        </span>
                        <span class="p-12 coleur_vert">SAUVEGARDE ENVIRONNEMENTALE</span>
                        <span class="p-12"><input type="text"
                                style="padding:8px;margin:15px auto;width:100%;color:#353A48;"
                                placeholder="Rechercher..." /></span>

                    </div>
                    <div>
                        <p>Hello world</p>
                    </div>
                </div>
            </div>
        </mat-tab>
        <!-- fin aspects et problemes environnementaux -->

        <!-- debut fiche environnementale -->
        <mat-tab label="FICHE ENVIRONNEMENTALE">
            <div class="content p-2">
                <div class="mat-card mat-elevation-z4  m-4">
                    <div class="package-type primary h-44" fxLayout="row" fxLayoutAlign="space-between center">
                        <span class="p-12 coleur_vert">Actions
                            <!-- <button mat-button (click)="modifier()">Basic</button> -->
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Ajouter">
                                <mat-icon matTooltip="Ajouter" class="coleur_vert">add_circle_outline</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Modifier">
                                <mat-icon matTooltip="Modifier" class="coleur_vert">edit</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Supprimer">
                                <mat-icon matTooltip="Supprimer" class="coleur_vert">delete</mat-icon>
                            </button>


                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Enregistrer">
                                <mat-icon matTooltip="Enregistrer" class="coleur_vert">save</mat-icon>
                            </button>

                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Annuler">
                                <mat-icon matTooltip="Annuler" class="coleur_vert">cancel</mat-icon>
                            </button>
                        </span>
                        <span class="p-12 coleur_vert">FICHE ENVIRONNEMENTALE</span>
                        <span class="p-12"><input type="text"
                                style="padding:8px;margin:15px auto;width:100%;color:#353A48;"
                                placeholder="Rechercher..." /></span>

                    </div>
                    <div>
                        <p>Hello world</p>
                    </div>
                </div>
            </div>
        </mat-tab>
        <!-- fin fiche environnementale -->

        <!-- debut filtration environnementale -->
        <mat-tab label="FILTRATION ENVIRONNEMENTALE">
            <div class="content p-2">
                <div class="mat-card mat-elevation-z4  m-4">
                    <div class="package-type primary h-44" fxLayout="row" fxLayoutAlign="space-between center">
                        <span class="p-12 coleur_vert">Actions
                            <!-- <button mat-button (click)="modifier()">Basic</button> -->
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Ajouter">
                                <mat-icon matTooltip="Ajouter" class="coleur_vert">add_circle_outline</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Modifier">
                                <mat-icon matTooltip="Modifier" class="coleur_vert">edit</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Supprimer">
                                <mat-icon matTooltip="Supprimer" class="coleur_vert">delete</mat-icon>
                            </button>


                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Enregistrer">
                                <mat-icon matTooltip="Enregistrer" class="coleur_vert">save</mat-icon>
                            </button>

                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Annuler">
                                <mat-icon matTooltip="Annuler" class="coleur_vert">cancel</mat-icon>
                            </button>
                        </span>
                        <span class="p-12 coleur_vert">FILTRATION ENVIRONNEMENTALE</span>
                        <span class="p-12"><input type="text"
                                style="padding:8px;margin:15px auto;width:100%;color:#353A48;"
                                placeholder="Rechercher..." /></span>

                    </div>
                    <div>
                        <p>Hello world</p>
                    </div>
                </div>
            </div>
        </mat-tab>
        <!-- fin filtration environnementale -->

        <!-- debut etude environnementaux -->
        <mat-tab label="ETUDE ENVIRONNEMENTAUX">
            <div class="content p-2">
                <div class="mat-card mat-elevation-z4  m-4">
                    <div class="package-type primary h-44" fxLayout="row" fxLayoutAlign="space-between center">
                        <span class="p-12 coleur_vert">Actions
                            <!-- <button mat-button (click)="modifier()">Basic</button> -->
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Ajouter">
                                <mat-icon matTooltip="Ajouter" class="coleur_vert">add_circle_outline</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Modifier">
                                <mat-icon matTooltip="Modifier" class="coleur_vert">edit</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Supprimer">
                                <mat-icon matTooltip="Supprimer" class="coleur_vert">delete</mat-icon>
                            </button>


                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Enregistrer">
                                <mat-icon matTooltip="Enregistrer" class="coleur_vert">save</mat-icon>
                            </button>

                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Annuler">
                                <mat-icon matTooltip="Annuler" class="coleur_vert">cancel</mat-icon>
                            </button>
                        </span>
                        <span class="p-12 coleur_vert">ETUDE ENVIRONNEMENTAUX</span>
                        <span class="p-12"><input type="text"
                                style="padding:8px;margin:15px auto;width:100%;color:#353A48;"
                                placeholder="Rechercher..." /></span>

                    </div>
                    <div>
                        <p>Hello world</p>
                    </div>
                </div>
            </div>
        </mat-tab>
        <!-- fin etude environnementaux -->

        <!-- debut CONVENTION IDB -->
        <mat-tab label="CONVENTION IDB">
            <div class="content p-2">
                <div class="mat-card mat-elevation-z4  m-4">
                    <div class="package-type primary h-44" fxLayout="row" fxLayoutAlign="space-between center">
                        <span class="p-12 coleur_vert">Actions
                            <!-- <button mat-button (click)="modifier()">Basic</button> -->
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Ajouter">
                                <mat-icon matTooltip="Ajouter" class="coleur_vert">add_circle_outline</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Modifier">
                                <mat-icon matTooltip="Modifier" class="coleur_vert">edit</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Supprimer">
                                <mat-icon matTooltip="Supprimer" class="coleur_vert">delete</mat-icon>
                            </button>


                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Enregistrer">
                                <mat-icon matTooltip="Enregistrer" class="coleur_vert">save</mat-icon>
                            </button>

                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Annuler">
                                <mat-icon matTooltip="Annuler" class="coleur_vert">cancel</mat-icon>
                            </button>
                        </span>
                        <span class="p-12 coleur_vert">CONVENTION IDB</span>
                        <span class="p-12"><input type="text"
                                style="padding:8px;margin:15px auto;width:100%;color:#353A48;"
                                placeholder="Rechercher..." /></span>

                    </div>
                    <div>
                        <p>Hello world</p>
                    </div>
                </div>
            </div>
        </mat-tab>
        <!-- fin convention idb -->

        <!-- debut CONVENTION mod -->
        <mat-tab label="CONVENTION MOD">
            <div class="content p-2">
                <div class="mat-card mat-elevation-z4  m-4">
                    <div class="package-type primary h-44" fxLayout="row" fxLayoutAlign="space-between center">
                        <span class="p-12 coleur_vert">Actions
                            <!-- <button mat-button (click)="modifier()">Basic</button> -->
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Ajouter">
                                <mat-icon matTooltip="Ajouter" class="coleur_vert">add_circle_outline</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Modifier">
                                <mat-icon matTooltip="Modifier" class="coleur_vert">edit</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Supprimer">
                                <mat-icon matTooltip="Supprimer" class="coleur_vert">delete</mat-icon>
                            </button>


                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Enregistrer">
                                <mat-icon matTooltip="Enregistrer" class="coleur_vert">save</mat-icon>
                            </button>

                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Annuler">
                                <mat-icon matTooltip="Annuler" class="coleur_vert">cancel</mat-icon>
                            </button>
                        </span>
                        <span class="p-12 coleur_vert">CONVENTION MOD</span>
                        <span class="p-12"><input type="text"
                                style="padding:8px;margin:15px auto;width:100%;color:#353A48;"
                                placeholder="Rechercher..." /></span>

                    </div>
                    <div>
                        <p>Hello world</p>
                    </div>
                </div>
            </div>
        </mat-tab>
        <!-- fin convention mod -->

        <!-- debut CONVENTION entretien -->
        <mat-tab label="CONVENTION ENTRETIEN">
            <div class="content p-2">
                <div class="mat-card mat-elevation-z4  m-4">
                    <div class="package-type primary h-44" fxLayout="row" fxLayoutAlign="space-between center">
                        <span class="p-12 coleur_vert">Actions
                            <!-- <button mat-button (click)="modifier()">Basic</button> -->
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Ajouter">
                                <mat-icon matTooltip="Ajouter" class="coleur_vert">add_circle_outline</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Modifier">
                                <mat-icon matTooltip="Modifier" class="coleur_vert">edit</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Supprimer">
                                <mat-icon matTooltip="Supprimer" class="coleur_vert">delete</mat-icon>
                            </button>
                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Enregistrer">
                                <mat-icon matTooltip="Enregistrer" class="coleur_vert">save</mat-icon>
                            </button>

                            <button mat-button mat-icon-button color="fuse-navy" aria-label="Annuler">
                                <mat-icon matTooltip="Annuler" class="coleur_vert">cancel</mat-icon>
                            </button>
                        </span>
                        <span class="p-12 coleur_vert">CONVENTION ENTRETIEN</span>
                        <span class="p-12"><input type="text"
                                style="padding:8px;margin:15px auto;width:100%;color:#353A48;"
                                placeholder="Rechercher..." /></span>
                    </div>
                    <div>
                        <p>Hello world</p>
                    </div>
                </div>
            </div>
        </mat-tab>
        <!-- fin convention entretien -->
    </mat-tab-group>
</div>

<!-- DIALOGE POUR LES PLANS-->
<ng-template #supprimer_plan>

    <mat-dialog-content>
        <div matDialogTitle>
            Etes-vous sûr de supprimer cet enregistrement?
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button matDialogClose color="primary" (click)="closeDialog()">
            ANNULER
        </button>
        <button mat-button matDialogClose color="primary" (click)="confirm_supprimer_plan()">
            OK
        </button>
    </mat-dialog-actions>
</ng-template>

<!-- DIALOGE POUR LES ACTIVITE_PAR-->
<ng-template #supprimer_activite>

    <mat-dialog-content>
        <div matDialogTitle>
            Etes-vous sûr de supprimer cet enregistrement?
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button matDialogClose color="primary" (click)="closeDialog()">
            ANNULER
        </button>
        <button mat-button matDialogClose color="primary" (click)="confirm_supprimer_activite()">
            OK
        </button>
    </mat-dialog-actions>
</ng-template>

<!-- DIALOGE POUR LES SOUS-PROJETS-->
<ng-template #supprimer_sous_project>

    <mat-dialog-content>
        <div matDialogTitle>
            Etes-vous sûr de supprimer cet enregistrement?
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button matDialogClose color="primary" (click)="closeDialogSousProjet()">
            ANNULER
        </button>
        <button mat-button matDialogClose color="primary" (click)="confirm_supprimer_sous_projet()">
            OK
        </button>
    </mat-dialog-actions>
</ng-template>