<div class="page-layout simple fullwidth" fxLayout="column">
  <div class="header primary p-4 h-24" fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="column" fxLayoutAlign="center start">
          <div fxLayout="row" fxLayoutAlign="start center"
              style="margin-top: 0px !important; padding-top: 0px !important">
              <mat-icon class="s-18" style="color: #0eaf3b">home</mat-icon>
              <mat-icon class="s-18" style="color: #0eaf3b">chevron_right</mat-icon>
              <span style="color: #0eaf3b">Traitement</span>
              <mat-icon class="s-18" style="color: #0eaf3b">chevron_right</mat-icon>
              <span style="color: #0eaf3b">Ménage </span>
          </div>
      </div>
  </div>
  <mat-tab-group>
    <mat-tab label="MÉNAGE INSCRIT : ">
      <div class="tab-content p-2">
        <div style="margin-left: 5px; margin-top: 5px">

        </div>
      </div>
    </mat-tab>
    <mat-tab label="INFORMATIONS SUR LES MÉNAGES">
      <div class="tab-content p-2">
        
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
