<div class="page-layout simple fullwidth" fxLayout="column">
  <div class="header primary p-4 h-24" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div fxLayout="row" fxLayoutAlign="start center" style="margin-top: 0px !important; padding-top: 0px !important;">
        <mat-icon class="s-18" style="color: #0eaf3b">home</mat-icon>
        <mat-icon class="s-18" style="color: #0eaf3b">chevron_right</mat-icon>
        <span style="color: #0eaf3b">Suivi activité</span>
        <mat-icon class="s-18" style="color: #0eaf3b">chevron_right</mat-icon>
        <span style="color: #0eaf3b">ARIEP</span>
        <mat-icon class="s-18" style="color: #0eaf3b">chevron_right</mat-icon>
        <span style="color: #0eaf3b">Export Fiche receptrice et état de paiement des Ménages bénéficiaire :
          {{fiche_receptrice.titre}}</span>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="tab-content p-2">
      <mat-tab-group>
        <mat-tab
          label="EXPORT FICHE RECEPTRICE ET ETAT DE PAIEMENT DES MENAGES BENEFICIAIRE {{fiche_receptrice.sous_projet}} : {{fiche_receptrice.titre | uppercase}}">
          <div class="column" style="margin-left: 5px">
            <form [formGroup]="form_export_fiche_receptrice">
              <div fxLayout="row" fxLayoutGap="5px">
                <mat-form-field fxFlex="calc(20% - 16px)" class="pr-4">
                  <mat-label>Ile</mat-label>
                  <mat-select formControlName="id_ile" [(ngModel)]="fiche_receptrice.id_ile"
                    (selectionChange)="filtre_region()">
                    <mat-option *ngFor="let ile of all_ile" [value]="ile.id">
                      {{ ile.Ile }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="calc(20% - 16px)" class="pr-4">
                  <mat-label>Préfecture</mat-label>
                  <mat-select formControlName="id_region" [(ngModel)]="fiche_receptrice.id_region"
                    [disabled]="!fiche_receptrice.id_ile" (selectionChange)="filtre_commune()">
                    <mat-option *ngFor="let region of all_region" [value]="region.id">
                      {{ region.Region }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="calc(20% - 16px)" class="pr-4">
                  <mat-label>Commune</mat-label>
                  <mat-select formControlName="id_commune" [(ngModel)]="fiche_receptrice.id_commune"
                    [disabled]="!fiche_receptrice.id_region" (selectionChange)="filtre_village()">
                    <mat-option *ngFor="let commune of all_commune" [value]="commune.id">
                      {{ commune.Commune }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="calc(20% - 16px)" class="pr-4">
                  <mat-label>Village</mat-label>
                  <mat-select formControlName="village_id" [(ngModel)]="fiche_receptrice.village_id"
                    [disabled]="!fiche_receptrice.id_commune" (selectionChange)="filtre_zip()">
                    <mat-option *ngFor="let village of all_village" [value]="village.id">
                      {{ village.Village }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="calc(20% - 16px)" class="pr-4">
                  <input type="text" matInput placeholder="Zone" formControlName="zip"
                    [(ngModel)]="fiche_receptrice.zip" readonly />
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutGap="5px">
                <b> Agence de paiement : </b>
                <mat-form-field fxFlex="calc(20% - 16px)" class="pr-4">
                  <mat-label>Agence de paiement</mat-label>
                  <mat-select formControlName="agep_id" [(ngModel)]="fiche_receptrice.agep_id"
                    [disabled]="!fiche_receptrice.id_commune" (selectionChange)="filtre_zip()">
                    <mat-option *ngFor="let agep of all_agep" [value]="agep.id">
                      {{ agep.identifiant }} - {{ agep.raison_social }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="calc(20% - 16px)" class="pr-4" *ngIf="fiche_receptrice.show_input_purcentage">
                  <input type="text" matInput placeholder="Pourcentage à payer" formControlName="pourcentage"
                    [(ngModel)]="fiche_receptrice.pourcentage" readonly />
                </mat-form-field> <mat-form-field fxFlex="calc(20% - 16px)" class="pr-4">
                  <input type="text" matInput placeholder="Montant à payer" formControlName="montant_a_payer"
                    [(ngModel)]="fiche_receptrice.montant_a_payer" readonly />
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutGap="5px">
                <button mat-raised-button class="button_vert" [disabled]="form_export_fiche_receptrice.invalid"
                  (click)="filtrerFicheReceptrice()" style="margin-left: 5px;">
                  <mat-label> ACTUALISER </mat-label>
                </button>
                <button mat-raised-button class="button_vert" style="margin-left: 5px;"
                  [disabled]="form_export_fiche_receptrice.invalid">
                  <mat-label> EXPORTER EN EXCEL </mat-label>
                </button>
              </div>
            </form>
          </div>
          <div class="mat-card mat-elevation-z4 m-4">
            <div class="package-type h-44 primary-50 header primary" fxLayout="row"
              fxLayoutAlign="space-between center">
              <div class="p-12">
                <!-- <span class="border-right mr-2" style="color: #0eaf3b;">Actions</span> -->
              </div>
              <div class="p-12">
                <!-- <span class="border-right mr-2" style="color: #0eaf3b;">CONSULTANT</span> -->
              </div>
              <div class="p-12">
                <input type="text" style="
                          padding: 8px;
                          margin: 15px auto;
                          width: 100%;
                          color: #353a48;
                          border: 1px solid #babdc5;
                      " placeholder="Rechercher..." [(ngModel)]="search_fiche_receptrice" />
              </div>
            </div>
            <div>
              <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
              <ngx-datatable class="material" [rows]="all_fiche_receptrice | filter: search_fiche_receptrice"
                [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true"
                [reorderable]="" [selectionType]="'checkbox'" [limit]="10" [selected]="" [selectionType]="'single'" *ngIf="!loading">
                <ngx-datatable-column name="N° Récépissé" prop="numero_recepisse">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.numero_recepisse }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Chef ménage" prop="nomchefmenage">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.nomchefmenage }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Recepteur principal" prop="NomTravailleur">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.NomTravailleur }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Date naissance" prop="datedenaissancetravailleur">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.datedenaissancetravailleur | date:'dd/MM/yyyy' }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Sexe" prop="SexeTravailleur">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.SexeTravailleur  }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Recepteur suppléant" prop="NomTravailleurSuppliant">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.NomTravailleurSuppliant }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Date naissance" prop="datedenaissancesuppliant">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.datedenaissancesuppliant | date:'dd/MM/yyyy'}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Sexe" prop="SexeTravailleurSuppliant">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.SexeTravailleurSuppliant }}
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<ng-template #aucun_fiche_receptrice>
  <mat-dialog-content>
    <div matDialogTitle>Aucun menage beneficiaire pour le filtre choisi !.</div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose color="primary" (click)="closeDialog()">
      Fermer
    </button>
  </mat-dialog-actions>
</ng-template>